*{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    /* background-color:pink; */
}
.navbar{
    position:fixed;
    width:100%;
    overflow:hidden;
    top:0;
    z-index: 9999;
    display:flex;
    /* margin-left:2%;
    margin-top:2%; */
    /* padding:; */
    align-items:center;
    justify-content:space-between;
    background-color:white;    
    /* margin:0 2em; */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    
}
.body{
    font-family: 'Merriweather', serif;
    overflow: hidden;
    transition:0.5s;
    background-color:black;


}

.navbar_brand{
    /* display:flex; */
    /* width:100px; */
    height:70px;
    display:flex;
}



.brand_logo{
    /* width:100%; */
    /* height:100%; */
    border-radius:100%;
    
}
.nav-items{
    display:flex;
    /* color:white; */
    padding:0em 1em;
    margin:0 3em;
    font-size:1.25em;
}
.nav-item{
    font-size:1.5em;
    margin:0px 20px;
    color:rgb(174, 0, 255);
    /* font-weight:light; */
}
.logo_and_name{
    display:flex;
    align-items:center;
    margin:0 1em

}
.mycontainer{
    /* margin:8% 0; */
    padding:6% 20%;
}
a{
    text-decoration:none;

}
.headings-text{
    text-align:center;
    color:#d504ff;
    font-size:2em;
    text-shadow:0px 0px 2px black;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
.footer{
    display:flex;
    justify-content:center;
}
.fab,.fas{
    font-size:50px;
    text-align:center;
    text-decoration: none;
    padding:1em;
}
.fab:hover,.fas:hover{
    opacity:0.7;
    color:black;
}
.buygirl{
    display:flex;
    justify-content:center;

}
.btn{
    text-decoration: none;
    border:none;
    /* font-size:16px; */
    text-align: center;
    border-radius:12px;
    padding:20px 20px;
    color:white;
    background-color:rgb(143, 84, 238);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }









.gradient-text1 {
    /* font-size:3em; */
    /* Fallback: Set a background color. */
    background-color: #CA4246;
    margin-left:30px;
    
    /* Create the gradient. */
     background-image: linear-gradient(
          60deg,
          #f700ce 16.666%, 
          /* #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%, 
          #8B9862 50%, 
          #8B9862 66.666%, 
          #476098 66.666%, 
          #476098 83.333%,  */
          #d504ff 83.333%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
  }
  
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }
    
  .gradient-text {
    /* font-size:3em; */
    /* Fallback: Set a background color. */
    background-color: #CA4246;
    margin-left:30px;
    
    /* Create the gradient. */
     background-image: linear-gradient(
          60deg,
          #f700ce 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%, 
          #8B9862 50%, 
          #8B9862 66.666%, 
          #476098 66.666%, 
          #476098 83.333%, 
          #d504ff 83.333%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
  }
  
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color:white;
  position:sticky;
  z-index:0;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: rgb(240, 137, 189);
  color:white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: rgb(0, 217, 255);
  }
}
